<app-navbar></app-navbar>
<div class="about-us-container">
  <div class="about-us-content">
    <h1 class="title">About Us</h1>
    <p class="intro">Welcome to <span class="shop-name">CoffeShop</span>, where every cup tells a story.</p>



    <section class="section">
      <h2 class="section-title">Our Coffee</h2>
      <img src="../components/imags/cup.jpg" alt="A beautifully crafted cup of coffee" class="coffee-image">
      <p class="section-content">
        We are proud to partner with <span class="highlight">CoffeShop</span>, renowned for their ethically sourced, single-origin beans. Each cup of coffee is crafted with precision and care by our skilled baristas, ensuring a perfect blend of flavors and aromas that highlight the unique characteristics of each bean. Whether you prefer a classic espresso, a creamy latte, or a refreshing cold brew, we have something to satisfy every palate.
      </p>
    </section>






  </div>
</div>
