<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">D</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
      <a class="nav-link" routerLink="/signup" routerLinkActive="active-link">Zizo</a>
      <a class="nav-link" routerLink="/home" routerLinkActive="active-link">About</a>
      <a class="nav-link" routerLink="/SignUp" routerLinkActive="active-link">product</a>
      <a class="nav-link" routerLink="/SignUp" routerLinkActive="active-link">SignUp</a>

    </div>
  </div>
</nav>
