<nav class="navbar">
  <div class="container">
    <a class="logo" href="#">ZZZZ<span>.</span></a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home" routerLinkActive="active-link"><span class="pi pi-home"> Home</span></a>
      <a class="nav-link" href="/src/app/components/home#menu-section" ><span class="pi pi-face-smile"> Menu</span></a>
      <!-- <a class="nav-link" routerLink="/product" routerLinkActive="active-link"><span class="pi pi-barcode"> Product</span></a> -->
      <a class="nav-link" routerLink="/about" routerLinkActive="active-link"><span class="pi pi-eye"> About</span></a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link"><span class="pi  pi-address-book"> Contact</span></a>
      <a class="nav-link"routerLink="/cart" routerLinkActive="active-link"><span class="pi pi-shopping-cart"></span></a>
      <a class="nav-link" routerLink="/signup" routerLinkActive="active-link"> <span class="pi pi-user">  SignUp</span></a>

    </div>
  </div>
</nav>
