<app-navbar></app-navbar>
<section class="hero-section">
  <div class="content">
    <h2>Start Your Day With Fresh Coffee</h2>
    <p>
      Coffee is a popular and beloved beverage enjoyed by
      people around the world.Awaken your senses with a steaming cup of liquid motivation.
    </p>
    <button>Order Now</button>
  </div>
</section>
<div class="container">
  <section class="about">
      <div class="about-image">
          <img src="assets/imags/cup.jpg">
      </div>
      <div class="about-content">
          <h2></h2>
          <p class="zz">Hello!
           <strong> Coffee</strong> is more than just a morning ritual
             it is a sensory experience that awakens the senses and invigorates the mind.
              From the moment the rich aroma begins to permeate the air,
               it sets the stage for a comforting and stimulating journey.
                The first sip reveals a complex interplay of flavors, from bold and robust to smooth and subtle, reflecting the intricate art of roasting and brewing. Whether enjoyed alone in quiet contemplation or shared with friends in lively conversation,
                 coffee provides a moment of respite and connection in our busy lives. Its versatility, from espresso shots to creamy lattes and iced variations, ensures that there is a perfect cup for every palate and occasion. Beyond its taste, coffee also holds cultural significance,
                  representing tradition, innovation, and community across the globe.</p>
          <a href="#" class="read-more">Read More</a>
      </div>
  </section>
</div>
<!--dddd-->

<div class="containerone">
  <!-- <div class="h1">
  <h1>Coffe</h1></div> -->
  <div class="card__container">
     <article class="card__article">
        <img src="assets/imags/cup.jpg" alt="image" class="card__img">

        <div class="card__data">
           <span class="card__description">c</span>
           <h2 class="card__title">cc</h2>
           <a href="#" class="card__button">Read More</a>
        </div>
     </article>

     <article class="card__article">
        <img src="assets/imags/cup.jpg" alt="image" class="card__img">

        <div class="card__data">
           <span class="card__description">name of coffe</span>
           <h2 class="card__title">cooffeee</h2>
           <a href="#" class="card__button">Read More</a>
        </div>
     </article>

     <article class="card__article">
        <img src="assets/imags/landing-page.jpg" alt="image" class="card__img">

        <div class="card__data">
           <span class="card__description">name of coffe</span>
           <h2 class="card__title">cooffeee</h2>
           <a href="#" class="card__button">Read More</a>
        </div>
     </article>
  </div>
</div>
<!-- <app-menu></app-menu> -->
<app-footer></app-footer>
