<app-navbar></app-navbar>
<h2 class="product-title">Our <span>products</span></h2>

<div class="one">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>name of product</mat-card-title>
      <mat-card-subtitle>coffe</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://www.codingnepalweb.com/demos/create-responsive-coffee-website-html-css/hero-bg.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center">
        <p-rating [(ngModel)]="value" [cancel]="false" />
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>name of product</mat-card-title>
      <mat-card-subtitle>coffee</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://www.codingnepalweb.com/demos/create-responsive-coffee-website-html-css/hero-bg.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center">
        <p-rating [(ngModel)]="value" [cancel]="false" />
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>name of product</mat-card-title>
      <mat-card-subtitle>coffee</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://www.codingnepalweb.com/demos/create-responsive-coffee-website-html-css/hero-bg.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center">
        <p-rating [(ngModel)]="value" [cancel]="false" />
      </div>

    
    </mat-card-actions>
  </mat-card>
</div>
