

<h2 class="menu-title">Our <span>Menu</span></h2>
<div class="product-container">
  <mat-card class="product-card" [@fadeIn]>
    <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
    <mat-card-header>
      <mat-card-title> Coffee</mat-card-title>
      <mat-card-subtitle>$15.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Enjoy the rich and bold flavor of our premium coffee, made from the
        finest beans.
      </p>
    </mat-card-content>
    <mat-card-actions  >
      <div class="card flex justify-content-center gap-2"  >
        <p-toast />
        <p-button
          type="button"
          pRipple
          (click)="showContrast()"
          label="BUY NOW"
          severity="contrast"
        />
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="product-card" [@fadeIn]>
    <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
    <mat-card-header>
      <mat-card-title> Coffee</mat-card-title>
      <mat-card-subtitle>$25.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Enjoy the rich and bold flavor of our premium coffee, made from the
        finest beans.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center red">
        <p-toast />
        <p-button
          type="button"
          pRipple
          (click)="showContrast()"
          label="BUY NOW"
          severity="contrast"
        />
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="product-card" [@fadeIn]>
    <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
    <mat-card-header>
      <mat-card-title>Freesh coffe</mat-card-title>
      <mat-card-subtitle>$5.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Enjoy the rich and bold flavor of our premium coffee, made from the
        finest beans.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center gap-2">
        <p-toast />
        <p-button
          type="button"
          pRipple
          (click)="showContrast()"
          label="BUY NOW"
          severity="contrast"
        />
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="product-card" [@fadeIn]>
    <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
    <mat-card-header>
      <mat-card-title>Freesh coffe</mat-card-title>
      <mat-card-subtitle>$5.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Enjoy the rich and bold flavor of our premium coffee, made from the
        finest beans.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center gap-2">
        <p-toast />
        <p-button
          type="button"
          pRipple
          (click)="showContrast()"
          label="BUY NOW"
          severity="contrast"
        />
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<div class="product-two">
  <mat-card class="product-card" [@fadeIn]>
    <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
    <mat-card-header>
      <mat-card-title>Freesh coffe</mat-card-title>
      <mat-card-subtitle>$5.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Enjoy the rich and bold flavor of our premium coffee, made from the
        finest beans.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="card flex justify-content-center gap-2">
        <p-toast />
        <p-button
          type="button"
          pRipple
          (click)="showContrast()"
          label="BUY NOW"
          severity="contrast"
        />
      </div>
    </mat-card-actions>
  </mat-card>
  <div class="product-two">
    <mat-card class="product-card" [@fadeIn]>
      <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
      <mat-card-header>
        <mat-card-title>Freesh coffe</mat-card-title>
        <mat-card-subtitle>$5.00</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Enjoy the rich and bold flavor of our premium coffee, made from the
          finest beans.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="card flex justify-content-center gap-2">
          <p-toast />
          <p-button
            type="button"
            pRipple
            (click)="showContrast()"
            label="BUY NOW"
            severity="contrast"
          />
        </div>
      </mat-card-actions>
    </mat-card>
    <div class="product-two">
      <mat-card class="product-card" [@fadeIn]>
        <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
        <mat-card-header>
          <mat-card-title>Freesh coffe</mat-card-title>
          <mat-card-subtitle>$5.00</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Enjoy the rich and bold flavor of our premium coffee, made from the
            finest beans.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="card flex justify-content-center gap-2">
            <p-toast />
            <p-button
              type="button"
              pRipple
              (click)="showContrast()"
              label="Contrast"
              severity="contrast"
            />
          </div>
        </mat-card-actions>
      </mat-card>
      <div class="product-two">
        <mat-card class="product-card" [@fadeIn]>
          <img mat-card-image src="assets/imags/cup.jpg" alt="Coffee" />
          <mat-card-header>
            <mat-card-title>Freesh coffe</mat-card-title>
            <mat-card-subtitle>$5.00</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Enjoy the rich and bold flavor of our premium coffee, made from
              the finest beans.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="card flex justify-content-center gap-2">
              <p-toast />
              <p-button
                type="button"
                pRipple
                (click)="showContrast()"
                label="BUY NOW"
                severity="contrast"
              />
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
